<a href="https://colab.research.google.com/github/sainath02/python-collab/blob/main/Hands_on_notebook_introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id="variables"> </a>
## Python Variables

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [ ]:
num = 30

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example −

In [ ]:
#Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5

You can also assign multiple objects to multiple variables

In [ ]:
a,b,c = 5,10.1,"Great Lakes"

#### Re-assigning a variable

In [ ]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

### Rules and Naming Conventions


## Data Types

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:
                        1. Numbers
                        2. Strings
                        3. Boolean
                        4. Lists
                        5. Tuples
                        6. Dictionaries
                        7. Sets

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [ ]:
a = -5
type(a)

In [ ]:
x = 1000
type(a)

#### float

In [ ]:
a = 1.1
type(a)

In [ ]:
x = -3.14
type(x)

In [ ]:
y = 1.626e16
type(y)

#### long

In [ ]:
x =999999999999999999999999999999999999999999999
type(x)

This construct does not exist in Python 3.x.

#### complex

In [ ]:
x = 3+4j
type(x)

In [ ]:
y = 3e+4j
type(y)

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double-quotes("string").

In [ ]:
string = "Introduction to Python"
string

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [ ]:
str1 = "Great"
str2 = "Learning"
str3 = str1+str2
str3                      # Prints concatenated string

In [ ]:
str3*3                    # Prints string three times

You cannot use the minus(-) operator and the division(/) operator on strings.

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [ ]:
string[5]                 # Prints sixth character of the string

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [ ]:
string[13:22]             # Prints characters starting from 14th to 21st character

Strings are <em>immutable</em>. The following line of code will generate an error

In [ ]:
string[0] = 'P'

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [ ]:
var = True
type(var)

In [ ]:
print(10 > 9)

In [ ]:
print(10 == 9)

In [ ]:
print(10 < 9)

<a id="typecon"> </a>
## Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [ ]:
float(11)

You can turn a Boolean into an float.

In [ ]:
float (True)

In [ ]:
float(False)

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
float("abc")

In [ ]:
float("11")

In [ ]:
#You can also use ‘e’ to denote an exponential number

float("2.24e-2")           #this number works even without the float() function

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [ ]:
int(11.7)

In [ ]:
int(-11.7)

 You can also turn a Boolean into an int.

In [ ]:
int(True)

In [ ]:
int(False)

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
int("GL")

In [ ]:
int("11")

#### str()
<em>str()</em> converts the value into a string.

In [ ]:
str(2.24)

In [ ]:
str(True)

In [ ]:
str(False)

In [ ]:
str(10)

<a id="print"> </a>
## Python print()


                    Syntax:
                         print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
                    print() Parameters:
                    **objects** - object to be printed. * indicates that there may be more than one object
sep - objects are separated by sep. Default value: ' '<br>
end - end is printed at last
file - must be an object with write(string) method. If omitted it, sys.stdout will be used which prints objects on the screen.
flush - If True, the stream is forcibly flushed. Default value: False<br><br>

In [ ]:
print("Hello World")

In [ ]:
#initialize a variable
x = 2
print("x =", x)              # Here we pass two objects

Only object parameter is passed in the above print() function

#### print() with separator and end parameters
By default, python's print() function ends with a newline. This function comes with a parameter called 'end.' The default value of this parameter is '\n,' i.e., the new line character. You can end a print statement with any character or string using this parameter.<br>
Sometimes you need to print one blank line in your Python program.

In [ ]:
x = 2
a = 8
print("x =", x, end='\n\n\n')
print("a =", 8, end = 'j')

Objects will be separated with what the <em>sep</em> parameter is set to

In [ ]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

<a id="uinput"> </a>
## User Input

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data as string. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [ ]:
age = int(input("Please enter your age: "))
print(age)
type(age)

In [ ]:
name = input("Please enter your name: ")
print(name)
type(name)

When <em>input()</em> function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. if you enter an integer value still input() function convert it into a string. You need to explicitly convert it into an integer in your code using typecasting.

<a id="oper"> </a>
## Python Operators

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [ ]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [ ]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [ ]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator
x += 5
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4
print('Updated value of x after (x /= 4) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator – **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [ ]:
x = 11
a = x>10 and x<20
print(a)

Here both the conditions are satisfied. Therefore we have True as the output.

In [ ]:
x = 11
a = x>10 and x==12
print(a)

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [ ]:
x = 11
a = x>10 or x==20
print(a)

Here one of the condition is satisfied. Therefore we have True as the output.

In [ ]:
x = 11
a = x>12 or x==20
print(a)

None of the above condition is True. Therefore we have False as the output

## Table of Content

1. **[Introduction to List]**

<a id="list"> </a>
## 1. Introduction to List

### Constructing Lists

To create a list, use square brackets [ ] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [ ]:
# create a empty list
empty_list = []
empty_list

[]

**Note : A list can also hold another list as an item, these are called nested lists**

In [ ]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Acessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
We use the index operator [ ]. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer

Print the second item of the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Select elements from beginning to end

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

If all three start , stop, and step are provided, it generates portion of sequence after index start till stop with increment of index step

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

### Change Item Value
Refer the index number to change the value of a specific item

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has a set of built-in methods that you can use on lists and arrays

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
del <br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [ ]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the ith index in a list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [ ]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Deleting List Elements**<br>
Use the del keywords to delete an item at specific index

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
The reverse() method reverses the sorting order of the elements

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
Concatenation uses the + Operator. It combines lists

In [ ]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>
Uses the * Operator. Concatenates a list a repeated number of times

In [ ]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

<a id="loops"> </a>
# 1. Conditional Statements

<a id="if_statement"> </a>
## 1.1 if statement

**syntax:**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS

####  Now, we will see some examples on if statements

In [ ]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

 Test if an item is a member of a list or not.

In [ ]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

<a id="if_else"> </a>
## 3.2 if else statement

**Syntax of if...else**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_2

#### Let’s see an example of the implementation of the if…else statement.

In [ ]:
# create a integer
x = 200
print(x)

# uses the not operator to reverse the result of the logical expression
if not x == 500:
    print('the value of x different from 500')
else:
    print('the value of x is equal to 500')

200
the value of x different from 500

In [ ]:
string1 = str(input("enter your userid"))
string2 = str(input("enter your password"))

if (string1 == "greatlearning" and string2 == "simplelearning123"):
    print("Succefully logged in!!")
else :
    print("Please check your userid and password")

enter your useridgreatlearning
enter your passwordsimplelearning123
Succefully logged in!!

<a id="if_elif_else"> </a>
## 1.3 if elif else

**Syntax of if elif else:**<br>
if x < y:<br>
&nbsp;&nbsp;    STATEMENTS_A<br>
elif x > y:<br>
&nbsp;&nbsp    STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_C

#### Q. Check whether the given number is greater than 50 or not

In [ ]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

<a id="nested_if"> </a>
## 1.4 nested if and if else statement

In [ ]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 23
Positive number